#clock {
	width: 400px;
	height: 400px;
	background-image: url('big-analog-clock.gif');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	margin: 20px auto 0 auto
}


#minutes-container, #hours-container, #seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#seconds {
  height: 50%;
  left: 48.75%;
  position: absolute;
  top: 5%;
  transform-origin: 50% 87%;
  width: 1%;
  background: ghostwhite;
  border: 2px solid darkgrey;
  border-radius: 30%;
}
   
#minutes {
  height: 40%;
  left: 49.5%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 96%;
  width: 2%;
  background: ghostwhite;
  border: 2px solid darkgrey;
  border-radius: 30%;
}
   
#hours {
  height: 30%;
  left: 48.75%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 96%;
  width: 4%;
  background: ghostwhite;
  border: 2px solid darkgrey;
  border-radius: 37%;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

#hours-container {
  animation: rotate 43200s infinite linear;
}
#minutes-container {
  animation: rotate 3600s infinite linear;
}
#seconds-container {
  animation: rotate 60s infinite linear;
}