body {
	background: black url('greet-images/moondoor.jpg');
}

.clock-display {
	margin: 17%;
	text-align: center;
	font-size: 7em;
	color: ghostwhite;
	padding: 0;
	background: lightgreen;
	border: 5px double darkgrey;
}